In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [2]:
# Download dataset:
!wget http://researchweb.iiit.ac.in/~murtuza.bohra/decision_Tree.zip
!unzip decision_Tree.zip -d dataset/

URL transformed to HTTPS due to an HSTS policy
--2019-09-05 19:20:33--  https://researchweb.iiit.ac.in/~murtuza.bohra/decision_Tree.zip
Resolving researchweb.iiit.ac.in (researchweb.iiit.ac.in)... 10.4.21.52
Connecting to researchweb.iiit.ac.in (researchweb.iiit.ac.in)|10.4.21.52|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 84580 (83K) [application/zip]
Saving to: ‘decision_Tree.zip.2’

decision_Tree.zip.2 100%[===================>]  82.60K  --.-KB/s    in 0.07s

2019-09-05 19:20:33 (1.10 MB/s) - ‘decision_Tree.zip.2’ saved [84580/84580]

Archive:  decision_Tree.zip
   creating: dataset/decision_Tree/
  inflating: dataset/decision_Tree/train.csv
  inflating: dataset/decision_Tree/sample_test.csv

In [4]:
df = pd.read_csv("dataset/decision_Tree/train.csv")
df.shape

(11238, 10)

In [5]:
for col  in df.columns:
    uniques = df[col].unique()
    print(col, df[col].dtype, len(uniques), uniques if len(uniques)<=10 else "TOO MANY")

satisfaction_level float64 92 TOO MANY
last_evaluation float64 65 TOO MANY
number_project int64 6 [7 4 2 5 3 6]
average_montly_hours int64 215 TOO MANY
time_spend_company int64 8 [ 4  3  6  2  7  8  5 10]
Work_accident int64 2 [0 1]
left int64 2 [1 0]
promotion_last_5years int64 2 [0 1]
sales object 10 ['sales' 'accounting' 'technical' 'management' 'IT' 'product_mng'
 'marketing' 'RandD' 'support' 'hr']
salary object 3 ['low' 'medium' 'high']

In [6]:
df["sales"], sales_dict = pd.factorize(df["sales"])
df["salary"], salary_dict = pd.factorize(df["salary"])
train, val = train_test_split(df, test_size=0.2)

In [7]:
train.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
9479,0.53,0.80,4,204,3,0,0,0,4,1
7614,0.21,0.85,6,285,7,0,0,0,0,1
8319,0.57,0.75,4,249,10,0,0,0,5,1
6144,0.70,0.80,4,236,2,0,0,0,7,1
568,0.89,0.84,6,196,4,0,0,0,0,1

In [8]:
train.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
count,8990.000000,8990.000000,8990.000000,8990.000000,8990.000000,8990.000000,8990.000000,8990.000000,8990.000000,8990.000000
mean,0.611306,0.715623,3.800890,200.704894,3.482202,0.145495,0.239377,0.020912,3.491769,0.595328
std,0.247139,0.170320,1.233258,49.819132,1.457548,0.352619,0.426727,0.143098,3.120434,0.639470
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,199.000000,3.000000,0.000000,0.000000,0.000000,2.000000,1.000000
75%,0.810000,0.870000,5.000000,244.000000,4.000000,0.000000,0.000000,0.000000,6.000000,1.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000,9.000000,2.000000

In [9]:
train.corr()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
satisfaction_level,1.000000,0.101477,-0.139599,-0.012509,-0.097397,0.053350,-0.395237,0.022726,-0.002753,0.055639
last_evaluation,0.101477,1.000000,0.358475,0.345857,0.138975,-0.001287,-0.009169,-0.001721,0.011603,-0.015897
number_project,-0.139599,0.358475,1.000000,0.424927,0.193164,-0.007819,0.009615,-0.002249,-0.015834,-0.009926
average_montly_hours,-0.012509,0.345857,0.424927,1.000000,0.134175,-0.003141,0.057986,-0.011150,-0.000334,-0.000411
time_spend_company,-0.097397,0.138975,0.193164,0.134175,1.000000,-0.002537,0.142069,0.051388,-0.040721,0.035598
Work_accident,0.053350,-0.001287,-0.007819,-0.003141,-0.002537,1.000000,-0.150160,0.032292,0.017872,0.009527
left,-0.395237,-0.009169,0.009615,0.057986,0.142069,-0.150160,1.000000,-0.058303,0.003736,-0.162723
promotion_last_5years,0.022726,-0.001721,-0.002249,-0.011150,0.051388,0.032292,-0.058303,1.000000,-0.020791,0.098569
sales,-0.002753,0.011603,-0.015834,-0.000334,-0.040721,0.017872,0.003736,-0.020791,1.000000,0.001620
salary,0.055639,-0.015897,-0.009926,-0.000411,0.035598,0.009527,-0.162723,0.098569,0.001620,1.000000

In [10]:
var_types = {"satisfaction_level": "continuous",
            "last_evaluation": "continuous",
            "number_project": "continuous",
            "average_montly_hours": "continuous",
            "time_spend_company": "continuous",
            "Work_accident": "categorical",
            "promotion_last_5years": "categorical",
            "sales": "categorical",
            "salary": "categorical",
            "left": "categorical"
            }

In [11]:
class Node:
    def __init__(self, df, split_var, split_val):
        self.df = df
        # split var and val are needed for prediction
        self.split_var = split_var
        self.split_val = split_val
        self.left = None
        self.right = None
        self.isTerminal = False
        self.y_class = None # fill this for terminal nodes

In [116]:
class DecisionTree:
    def __init__(self, train_data, target_var, var_types, max_depth=6):
        self.train_data = train_data
        self.target_var = target_var
        self.var_types = var_types
        self.max_depth = max_depth
        
    
    def entropy(self, pd_series):
        entropy_val = 0
        N = len(pd_series)
        for value in pd_series.unique():
            count = sum(pd_series==value)
            entropy_val+= -count/N*np.log2(count/N)
        return entropy_val


    def information_gain(self, df, feature, feature_val, feature_val_type, target):
        count_all = df.shape[0]
        initial_entropy = self.entropy(df[target])

        if feature_val_type=="categorical":
            subset_df1 = df[df[feature]==feature_val]
            subset_df2 = df[df[feature]!=feature_val]
        elif feature_val_type=="continuous":
            subset_df1 = df[df[feature]<=feature_val]
            subset_df2 = df[df[feature]>feature_val]
            
        count1, count2 = subset_df1.shape[0], subset_df2.shape[0]

        subset_df1_entropy = self.entropy(subset_df1[target])
        subset_df2_entropy = self.entropy(subset_df2[target])

        final_entropy = count1/count_all*subset_df1_entropy + count2/count_all*subset_df2_entropy

        return initial_entropy - final_entropy    


    def get_split_var_and_split_val(self, df):
        feature_columns = list(df.columns)
        feature_columns.remove(self.target_var)
        inf_gains = {}
        for feature in feature_columns:
            if self.var_types[feature]=="categorical":
                split_values = df[feature].unique()
            elif self.var_types[feature]=="continuous":
                unique_values = sorted(df[feature].unique())
                split_values = [0.5*(unique_values[i-1]+unique_values[i]) \
                                for i in range(1, len(unique_values))]
            
            for value in split_values:
                inf_gain = self.information_gain(df, feature, value, self.var_types[feature], self.target_var)
                inf_gains[(feature, value)] = inf_gain
        
        split_var, split_val = max(inf_gains, key=lambda a: inf_gains[a])
        return split_var, split_val             
 

    def createTree(self, root, depth):
        print(root.df.shape, depth)
        if depth>=self.max_depth or root.df.shape[0]==1:
            root.isTerminal = True
            root.y_class = sum(root.df[self.target_var]==1)/root.df.shape[0] > 0.5
            return

        split_var, split_val = self.get_split_var_and_split_val(root.df)
        print(split_var, split_val)
        if self.var_types[split_var] == "categorical":
            df_left = df[df[split_var]==split_val]
            df_right = df[df[split_var]!=split_val]
        elif self.var_types[split_var] == "continuous":
            df_left = df[df[split_var]<=split_val]
            df_right = df[df[split_var]>split_val]
        root.left = Node(df_left, split_var, split_val)
        root.right = Node(df_right, split_var, split_val)
        self.createTree(root.left, depth+1)
        self.createTree(root.right, depth+1)

        
    def fit(self):
        split_var, split_val = self.get_split_var_and_split_val(self.train_data)
        self.root = Node(self.train_data, split_var, split_val)
        self.createTree(self.root, 1)
        
        
    def predictUtil(self, root, sample):
        if root.isTerminal:
            return int(root.y_class)
        if self.var_types[root.split_var]=="categorical":
            isLeft = sample[root.split_var]==root.split_val
        elif self.var_types[root.split_var]=="continuous":
            isLeft = sample[root.split_var]<=root.split_val
        if isLeft:
            return self.predictUtil(root.left, sample)
        else:
            return self.predictUtil(root.right, sample)
            
    def predict(self, batch_df):
        preds = []
        for i in batch_df.index:
            sample = batch_df.loc[i, :]
            pred = self.predictUtil(self.root, sample)
            preds.append(pred)
        return preds

In [117]:
decision_tree = DecisionTree(train_data = train, target_var="left", var_types=var_types)
decision_tree.fit()

(8990, 10) 1
satisfaction_level 0.46499999999999997
(3135, 10) 2
satisfaction_level 0.11499999999999999
(674, 10) 3
satisfaction_level 0.095
(147, 10) 4
last_evaluation 0.6950000000000001
(5215, 10) 5
number_project 2.5
(1770, 10) 6
(9468, 10) 6
(6023, 10) 5
time_spend_company 3.5
(7301, 10) 6
(3937, 10) 6
(11091, 10) 4
satisfaction_level 0.46499999999999997
(3135, 10) 5
satisfaction_level 0.11499999999999999
(674, 10) 6
(10564, 10) 6
(8103, 10) 5
time_spend_company 4.5
(9209, 10) 6
(2029, 10) 6
(10564, 10) 3
number_project 2.5
(1770, 10) 4
satisfaction_level 0.46499999999999997
(3135, 10) 5
satisfaction_level 0.11499999999999999
(674, 10) 6
(10564, 10) 6
(8103, 10) 5
time_spend_company 4.5
(9209, 10) 6
(2029, 10) 6
(9468, 10) 4
satisfaction_level 0.11499999999999999
(674, 10) 5
satisfaction_level 0.095
(147, 10) 6
(11091, 10) 6
(10564, 10) 5
number_project 2.5
(1770, 10) 6
(9468, 10) 6
(8103, 10) 2
time_spend_company 4.5
(9209, 10) 3
satisfaction_level 0.46499999999999997
(3135, 10) 4
satisfaction_level 0.11499999999999999
(674, 10) 5
satisfaction_level 0.095
(147, 10) 6
(11091, 10) 6
(10564, 10) 5
number_project 2.5
(1770, 10) 6
(9468, 10) 6
(8103, 10) 4
time_spend_company 4.5
(9209, 10) 5
satisfaction_level 0.46499999999999997
(3135, 10) 6
(8103, 10) 6
(2029, 10) 5
average_montly_hours 216.5
(6559, 10) 6
(4679, 10) 6
(2029, 10) 3
average_montly_hours 216.5
(6559, 10) 4
number_project 2.5
(1770, 10) 5
satisfaction_level 0.46499999999999997
(3135, 10) 6
(8103, 10) 6
(9468, 10) 5
satisfaction_level 0.11499999999999999
(674, 10) 6
(10564, 10) 6
(4679, 10) 4
time_spend_company 3.5
(7301, 10) 5
number_project 2.5
(1770, 10) 6
(9468, 10) 6
(3937, 10) 5
satisfaction_level 0.11499999999999999
(674, 10) 6
(10564, 10) 6

In [118]:
val_pred = decision_tree.predict(val)

In [119]:
sum(val_pred)

99

In [120]:
sum([real==pred for real,pred in zip(val["left"], val_pred)])

1634

In [121]:
val.shape

(2248, 10)

In [122]:
1634/2248

0.7268683274021353

In [123]:
sum(val["left"])

523

In [124]:
(2248-523)/2248

0.7673487544483986

In [126]:
1-sum(df["left"])/df.shape[0]

0.7619683217654387